html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; 
}

body {
  margin: 0; 
}

.center{
  text-align: center;
}

.centerBlock {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 20px;
}

.navbar-default {
  max-height: 40px;
  border-color: #2980b9;
}


